<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div id="app">
        <el-input v-model="tableDataName" @keyup.enter.native="search" placeholder="请输入" style="width:240px"></el-input>
        <el-select v-model="ruleForm.tudStatused" placeholder="请选择渠道类别" @change="change_spoTypeArr">
            <el-option
                       v-for="item in tudStatuseds"
                       :key="item.value"
                       :label="item.label"
                       :value="item.value">
            </el-option>
        </el-select>
        <el-select v-model="toOperId" placeholder="请选择渠道专员" @change="change_sysUserName">
            <el-option
                       v-for="item in toOperIds"
                       :key="item.value"
                       :label="item.username"
                       :value="item.userId">
            </el-option>
        </el-select>
        <el-button type="primary" @click="search">搜索</el-button>
        <el-button type="primary" @click="creatChanne">创建渠道</el-button>
        <el-table
                  :data="tableDataEnd"
                  ref="multipleTable"
                  border
                  style="width: 100%;margin-top:5px;"
                  @selection-change="handleSelectionChange">
            <el-table-column
                             label="渠道名称"
                             :show-overflow-tooltip="true"
                             width="120">
                <template slot-scope="scope">
                    <span style="color:#409EFF;cursor: pointer;"
                          @click="view_detail(scope.row,scope.$index)">{{ scope.row.channelName }}</span>
                </template>
            </el-table-column>
            <el-table-column
                             label="渠道方账号"
                             width="100"
                             :show-overflow-tooltip="true">
                <template slot-scope="scope">
                    <span>{{ scope.row.account }}</span>
                </template>
            </el-table-column>
            <el-table-column
                             label="渠道类别"
                             width="80">
                <template slot-scope="scope">
                    <span v-if="scope.row.channelType===0">无合作方式</span>
                    <span v-if="scope.row.channelType===1">院校合作</span>
                    <span v-if="scope.row.channelType===2">企业合作</span>
                    <span v-if="scope.row.channelType===3">资源合作</span>
                    <span v-if="scope.row.channelType===4">校园代理</span>
                    <span v-if="scope.row.channelType===''">全部</span>
                </template>
            </el-table-column>
            <el-table-column
                             label="合作方式"
                             :show-overflow-tooltip="true">
                <template slot-scope="scope">
                    <span>{{ scope.row.approachesCooperation }}</span>
                </template>
            </el-table-column>
            <el-table-column
                             :show-overflow-tooltip="true"
                             label="联系人电话">
                <template slot-scope="scope">
                    <span>{{ scope.row.phone }}</span>
                </template>
            </el-table-column>
            <el-table-column
                             label="对接人姓名">
                <template slot-scope="scope">
                    <span>{{ scope.row.dockingPeople }}</span>
                </template>
            </el-table-column>
            <el-table-column
                             label="对接人职务">
                <template slot-scope="scope">
                    <span>{{ scope.row.dockingJob }}</span>
                </template>
            </el-table-column>
            <el-table-column
                             label="所属渠道专员"
                             width="120">
                <template slot-scope="scope">
                    <span>{{ scope.row.sysUserName }}</span>
                </template>
            </el-table-column>
            <!-- <el-table-column label="操作" width="100px">  
          <template slot-scope="scope">
              <el-dropdown trigger="click">
                <span class="el-dropdown-link" style="cursor: pointer;color: #409EFF;">
                  下拉操作<i class="el-icon-arrow-down el-icon--right"></i>
                </span>
                <el-dropdown-menu slot="dropdown">
                  <el-dropdown-item size="mini" @click.native="recommendTeacher(scope.row,scope.$index)"v-if="scope.row.tudStatused == 0&&scope.row.report != ''&&hasPermission('sys:shiziqudao:baomingliebiao:yuyue')">预约</el-dropdown-item>   
                  <el-dropdown-item size="mini"disabled v-if="scope.row.tudStatused != 0||scope.row.report==''">预约</el-dropdown-item>
                  <el-dropdown-item size="mini" @click.native="upfile1(scope.row,scope.$index)" v-if="scope.row.report == ''&&hasPermission('sys:shiziqudao:baomingliebiao:shangchuanjianli')">上传简历和成绩单</el-dropdown-item>   
                  <el-dropdown-item size="mini" @click.native="upfile1(scope.row,scope.$index)" v-if="scope.row.report != ''">更新简历和成绩单</el-dropdown-item>  
                  <el-dropdown-item size="mini" @click.native="view_detail(scope.row,scope.$index)" v-if="hasPermission('sys:shiziqudao:baomingliebiao:chakanjiaoshixinxi')">查看教师信息</el-dropdown-item>
                </el-dropdown-menu>
              </el-dropdown>
            </template>
        </el-table-column>  -->
        </el-table>
        <el-pagination
                       style="margin-top:15px"
                       @size-change="handleSizeChange"
                       @current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[15,20]"
                       :page-size="limit"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="total">
        </el-pagination>
    </div>
</body>
<script src="js/jquery.js"></script>
<script type="text/javascript">
    document.write('<script src="../../js/base.js?tmp=' + new Date().getTime() + '" type="text/javascript" charset="utf-8"><\/script>');
</script>
<script src="js/axios.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/index.js"></script>
<script type="text/javascript">
    window.onload = function () {
        loadJsOrCss('pagejs/allChannels.js');
    }
</script>

</html>