<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div id="app">
        <el-date-picker v-model="data" type="daterange" align="right" unlink-panels range-separator="至"
                        start-placeholder="开始日期" end-placeholder="结束日期" @change="choosedata"
                        value-format="yyyy-MM-dd HH:mm:ss"
                        :picker-options="pickerOptions2">
        </el-date-picker>
        <el-button type="primary" @click="regetdata">重置</el-button>
        <el-switch v-model="value4" @change="changevalue" active-text="按月查询" inactive-text="按年查询">
        </el-switch>
        <div id="main" style="width: 100%;height:400px;margin-top:20px;"></div>
    </div>
</body>
<script src="js/jquery.js"></script>
<script type="text/javascript">
    document.write('<script src="../../js/base.js?tmp=' + new Date().getTime() + '" type="text/javascript" charset="utf-8"><\/script>');
</script>
<script src="js/echarts.min.js"></script>
<script src="js/vue.js"></script>
<script src="js/index.js"></script>
<script type="text/javascript">
    window.onload = function () {
        loadJsOrCss('pagejs/country_order.js');
    }
</script>

</html>