<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div id="app">
        <el-input v-model="tableDataName" placeholder="请输入姓名" style="width:240px"></el-input>
        <el-button type="primary">搜索</el-button>
        <el-button type="primary" @click="openData">重置</el-button>
        <el-button type="primary" @click="add">添加</el-button>
        <el-button type="primary" @click="handleDelete">删除</el-button>
        <el-table
                  :data="tableDataEnd"
                  ref="multipleTable"
                  border
                  style="width: 100%;margin-top:15px;"
                  @selection-change="handleSelectionChange">
            <el-table-column
                             type="selection"
                             width="50">
            </el-table-column>
            <el-table-column
                             label="id"
                             width="50">
                <template slot-scope="scope">
                    <span>{{ scope.row.id }}</span>
                </template>
            </el-table-column>
            <el-table-column
                             label="课程id"
                             width="80">
                <template slot-scope="scope">
                    <span>{{ scope.row.cdId }}</span>
                </template>
            </el-table-column>
            <el-table-column
                             label="课程组id"
                             width="80">
                <template slot-scope="scope">
                    <span>{{ scope.row.groupId }}</span>
                </template>
            </el-table-column>
            <el-table-column
                             label="课件"
                             width="300">
                <template slot-scope="scope">
                    <span>{{ scope.row.url }}</span>
                </template>
            </el-table-column>
            <el-table-column
                             label="创建时间"
                             width="180">
                <template slot-scope="scope">
                    <span>{{ scope.row.updateAt }}</span>
                </template>
            </el-table-column>
            <el-table-column
                             label="文件类型"
                             width="110">
                <template slot-scope="scope">
                    <span>{{ scope.row.type }}</span>
                </template>
            </el-table-column>
            <!-- <el-table-column label="操作">  
                <template slot-scope="scope">  
                <el-button size="mini" @click="dialogVisible(scope.row,scope.$index)">编辑</el-button>   
                </template>  
            </el-table-column>  -->
        </el-table>
        <!-- 添加的弹框 -->
        <el-dialog
                   :visible.sync="dialogFormVisible2"
                   width="40%">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="课程名称" prop="name">
                    <el-input v-model="ruleForm.name"></el-input>
                </el-form-item>
                <el-form-item label="课件id" prop="cdid">
                    <el-input v-model="ruleForm.cdid"></el-input>
                </el-form-item>
                <el-form-item label="课件组id" prop="groupId">
                    <el-input v-model="ruleForm.groupId"></el-input>
                </el-form-item>
                <input type="file">
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="submitForm2('ruleForm')">确 定</el-button>
            </span>
        </el-dialog>
        <!-- 编辑的弹框 -->
        <el-dialog
                   :visible.sync="dialogFormVisible"
                   width="40%">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="活动标题" prop="title">
                    <el-input v-model="ruleForm.title" ref="code"></el-input>
                </el-form-item>
                <el-form-item label="活动编号" prop="activityNo">
                    <el-input v-model="ruleForm.activityNo" ref="activityNo"></el-input>
                </el-form-item>
                <el-form-item label="参与人员" prop="participantUser">
                    <el-input v-model="ruleForm.participantUser" ref="participantUser"></el-input>
                </el-form-item>
                <el-form-item label="参与人数" prop="partNumber">
                    <el-input v-model="ruleForm.partNumber" ref="partNumber"></el-input>
                </el-form-item>
                <el-form-item label="实际花费" prop="actualCost">
                    <el-input v-model="ruleForm.actualCost" ref="actualCost"></el-input>
                </el-form-item>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <!-- <el-button @click="resetForm('ruleForm')">重 置</el-button> -->
                <el-button type="primary" @click="submitForm('ruleForm')">确 定</el-button>
            </span>
        </el-dialog>
        <el-pagination
                       style="margin-top:15px"
                       @size-change="handleSizeChange"
                       @current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[8]"
                       :page-size="8"
                       layout="total, sizes, prev, pager, next, jumper"
                       :total="total">
        </el-pagination>
    </div>
</body>
<script src="js/jquery.js"></script>
<script type="text/javascript">
    document.write('<script src="../../js/base.js?tmp=' + new Date().getTime() + '" type="text/javascript" charset="utf-8"><\/script>');
</script>
<!-- import Vue before Element -->
<script src="js/vue.js"></script>
<!-- import JavaScript -->
<script src="js/index.js"></script>
<script type="text/javascript">
    window.onload = function () {
        loadJsOrCss('pagejs/course.js');
    }
</script>

</html>