<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
</head>
<style>
    .clearfix:after {
        display: block;
        clear: both;
        content: "";
        visibility: hidden;
        height: 0
    }

    .fl {
        float: left;
    }

    .red {
        color: red;
    }

    .green {
        color: green;
    }

    .picArea {
        width: 200px;
        height: 150px;
        box-shadow: 1px 2px 1px #ccc;
        cursor: pointer;
    }
</style>

<body>
    <div id="app">
        <template>
            <el-tabs v-model="activeName2" @tab-click="handleClick" v-show='isCreated == false'>
                <el-tab-pane label="基础信息" name="first"></el-tab-pane>
                <el-tab-pane label="高级设置" name="second"></el-tab-pane>
            </el-tabs>
        </template>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="140px" style="width:100%"
                 class="demo-ruleForm">
            <div v-show="first">
                <!-- <el-form-item label="手机号" prop="mobile">
        <el-input
          @blur="result()"        
          style="width:310px;"
          v-model="ruleForm.mobile"
          type="number"
          placeholder="请输入手机号">
        </el-input>
        <i class="el-icon-error" style="color:red" v-show="yes"></i>
        <i class="el-icon-success" style="color:green" v-show="no"></i>
        <el-button type="primary" @click="iftrue" id="tab">查询</el-button>
        <i v-show="error" :class="color">{{error}}</i>
      </el-form-item> -->
                <el-form-item label="渠道名称" prop="channelName">
                    <el-input v-model="ruleForm.channelName" style="width:310px;"></el-input>
                </el-form-item>

                <el-form-item label="渠道类别" prop="channelType">
                    <el-select v-model="ruleForm.channelType" style="width:310px;">
                        <!-- <el-option value="0" label="其他"></el-option> -->
                        <el-option value="1" label="院校合作"></el-option>
                        <el-option value="2" label="企业合作"></el-option>
                        <el-option value="3" label="资源合作"></el-option>
                        <el-option value="4" label="校园代理"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="合作内容" prop="approachesCooperation">
                    <el-input v-model="ruleForm.approachesCooperation" style="width:310px;"></el-input>
                </el-form-item>
                <el-form-item label="渠道方账号" prop="account">
                    <el-input v-model="ruleForm.account" style="width:310px;"></el-input>
                </el-form-item>
                <el-form-item label="渠道方密码" prop="password">
                    <el-input v-model="ruleForm.password" style="width:310px;"></el-input>
                </el-form-item>
                <el-form-item label="联系人电话" prop="phone">
                    <el-input v-model="ruleForm.phone" style="width:310px;"></el-input>
                </el-form-item>
                <el-form-item label="对接人姓名" prop="dockingPeople">
                    <el-input v-model="ruleForm.dockingPeople" style="width:310px;"></el-input>
                </el-form-item>
                <el-form-item label="性别" prop="channelMale">
                    <!-- <el-input v-model="ruleForm.channelMale" style="width:310px;"></el-input> -->
                    <el-select v-model="ruleForm.channelMale" style="width:310px;">
                        <el-option value="MALE" label="男"></el-option>
                        <el-option value="FEMALE" label="女"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="对接人职务" prop="dockingJob">
                    <el-input v-model="ruleForm.dockingJob" style="width:310px;"></el-input>
                </el-form-item>
            </div>
            <div v-show="second">
                <el-form-item label="身份证照片:">
                    <img v-show='pic.idCardFrontalUrl != ""' class="picArea" :src="pic.idCardFrontalUrl" alt=""
                         title='点击查看' @click='chakantupian(pic.idCardFrontalUrl)'>
                    <img v-show='pic.idCardFrontalUrl == ""' class="picArea" src="images/none.png" alt="" title=''>

                    <img v-show='pic.idCardRearUrl != ""' class="picArea" :src="pic.idCardRearUrl" alt="" title='点击查看'
                         @click='chakantupian(pic.idCardRearUrl)'>
                    <img v-show='pic.idCardRearUrl == ""' class="picArea" src="images/none.png" alt="" title=''>

                </el-form-item>
                <el-form-item label="营业执照:">
                    <img v-show='pic.businessLicenseUrl != ""' class="picArea" :src="pic.businessLicenseUrl" alt=""
                         title='点击查看' @click='chakantupian(pic.businessLicenseUrl)'>
                    <img v-show='pic.businessLicenseUrl == "" ' class="picArea" src="images/none.png" alt="" title=''>
                </el-form-item>
                <el-form-item label="印章照片:">
                    <img v-show='pic.commonSealUrl != ""' class="picArea" :src="pic.commonSealUrl" alt="" title='点击查看'
                         @click='chakantupian(pic.commonSealUrl)'>
                    <img v-show='pic.commonSealUrl == "" ' class="picArea" src="images/none.png" alt="" title=''>
                </el-form-item>
                <!-- <el-form-item label="结算方式" prop="checkList">
                    <el-checkbox-group v-model="ruleForm.checkList" @change="handleCheckAllChange">
                        <el-checkbox label="1" @change="handleCheck1">以通过初试</el-checkbox>
                        <el-checkbox label="2" @change="handleCheck2">以通过复试</el-checkbox>
                        <el-checkbox label="4" @change="handleCheck3">以通过培训</el-checkbox>
                        <el-checkbox label="8" @change="handleCheck4">以入职讲师收入的百分比提成</el-checkbox>
                        <el-checkbox label="16" @change="handleCheck5">不结算</el-checkbox>
                    </el-checkbox-group>
                </el-form-item>
                <el-form-item label="" prop="">
                    <el-input v-bind:disabled="disabled1" v-model="ruleForm.meansPayments1" style="width:70px;">
                    </el-input><span class="red">CNY每人</span>
                    <el-input v-bind:disabled="disabled2" v-model="ruleForm.meansPayments2" style="width:70px;">
                    </el-input><span class="red">CNY每人</span>
                    <el-input v-bind:disabled="disabled3" v-model="ruleForm.meansPayments3" style="width:70px;">
                    </el-input><span class="red">CNY每人</span>
                    <el-input v-bind:disabled="disabled4" v-model="ruleForm.meansPayments4" style="width:70px;">
                    </el-input><span class="red">%每人</span>
                </el-form-item> -->
                <!-- <el-form-item label="结算时间" prop="clearingFormTime">
                    <el-date-picker v-model="ruleForm.clearingFormTime" type="date" value-format="yyyy-MM-dd"
                                    :picker-options="pciker1" placeholder="开始日期">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="宣传周期开始时间" prop="propagandaCycleStart">
                    <el-date-picker v-model="ruleForm.propagandaCycleStart" type="date" value-format="yyyy-MM-dd"
                                    :picker-options="pciker1" placeholder="开始日期" @change="changeTime">
                    </el-date-picker>
                </el-form-item>
                <el-form-item label="宣传周期结束时间" prop="propagandaCycleEnd">
                    <el-date-picker v-model="ruleForm.propagandaCycleEnd" type="date" value-format="yyyy-MM-dd"
                                    :picker-options="pciker2" placeholder="结束日期">
                    </el-date-picker>
                </el-form-item> -->
            </div>
            <el-form-item>
                <el-button id="creat" type="primary" @click="submitForm('ruleForm')" v-bind:loading="btnstatus">
                    {{btnval}}</el-button>
                <el-button id="update" type="primary" @click="update('ruleForm')" v-bind:loading="btnstatus1">
                    {{btnval1}}</el-button>
                <el-button @click="back()">返回</el-button>
            </el-form-item>
        </el-form>
    </div>
</body>
<script src="js/jquery.js"></script>
<script type="text/javascript">
    document.write('<script src="../../js/base.js?tmp=' + new Date().getTime() +
        '" type="text/javascript" charset="utf-8"><\/script>');
</script>
<script src="js/vue.js"></script>
<script src="js/index.js"></script>
<script type="text/javascript">
    window.onload = function () {
        loadJsOrCss('pagejs/creatChanne.js');
    }
</script>

</html>