<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div id="app">
        <el-input v-model="tableDataName" placeholder="请输入" style="width:240px"></el-input>
        <el-date-picker v-model="data" type="daterange" align="right" unlink-panels range-separator="至"
                        start-placeholder="开始日期"
                        end-placeholder="结束日期" @change="choosedata" value-format="yyyy-MM-dd"
                        :picker-options="pickerOptions2">
        </el-date-picker>
        <el-button type="primary" @click="search">搜索</el-button>
        <el-table :data="table" ref="multipleTable" border style="width: 100%;margin-top:5px;">
            <el-table-column label="接单人数">
                <template slot-scope="scope">
                    <span>{{ total }}</span>
                </template>
            </el-table-column>
            <el-table-column label="获取G币数" :show-overflow-tooltip="true">
                <template slot-scope="scope">
                    <span>{{ scope.row.gbs }}</span>
                </template>
            </el-table-column>
        </el-table>
        <el-table :data="tableDataEnd" ref="multipleTable" border style="width: 100%;margin-top:5px;"
                  @selection-change="handleSelectionChange">
            <el-table-column label="讲师名称" :show-overflow-tooltip="true">
                <template slot-scope="scope">
                    <span>{{ scope.row.teacherName }}</span>
                </template>
            </el-table-column>
            <el-table-column label="平均评分" :show-overflow-tooltip="true">
                <template slot-scope="scope">
                    <span>{{ scope.row.avgRate }}</span>
                </template>
            </el-table-column>
            <el-table-column label="总GB" :show-overflow-tooltip="true">
                <template slot-scope="scope">
                    <span>{{ scope.row.allMoney }}</span>
                </template>
            </el-table-column>
            <el-table-column label="操作" width="100px">
                <template slot-scope="scope">
                    <el-button size="mini" @click="seedetail(scope.row,scope.$index)">查看详情</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-pagination style="margin-top:15px" @size-change="handleSizeChange" @current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[10,20]" :page-size="limit" layout="total, sizes, prev, pager, next, jumper"
                       :total="total">
        </el-pagination>
        <el-date-picker v-model="datas" style="margin:5px" type="daterange" range-separator="至" start-placeholder="开始日期"
                        end-placeholder="结束日期"
                        @change="choosedataecharts" value-format="yyyy-MM-dd" :picker-options="pickerOptions2">
        </el-date-picker>
        <div id="main" style="width: 99%;height:400px;margin-top:20px;"></div>
    </div>
</body>
<script src="js/jquery.js"></script>
<script type="text/javascript">
    document.write('<script src="../../js/base.js?tmp=' + new Date().getTime() + '" type="text/javascript" charset="utf-8"><\/script>');
</script>
<script src="js/vue.js"></script>
<script src="js/echarts.min.js"></script>
<script src="js/index.js"></script>
<script type="text/javascript">
    window.onload = function () {
        loadJsOrCss('pagejs/parttime_te_achievement.js');
    }

</script>

</html>