<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/index.css">
</head>

<body>
    <div id="app">
        <el-input v-model="tableDataName" @keyup.enter.native="search" placeholder="请输入姓名" style="width:240px">
        </el-input>
        <el-select v-model="ruleForm.tudStatused" placeholder="请选择" @change="change_spoTypeArr">
            <el-option v-for="item in tudStatuseds" :key="item.value" :label="item.label" :value="item.value">
            </el-option>
        </el-select>
        <el-button type="primary" @click="search">搜索</el-button>
        <!-- <el-button type="primary" @click="watermelon">西瓜很忙</el-button> -->
        <!-- <el-button type="primary" @click="secondCalendar">复试历程表</el-button> -->
        <el-table :data="tableDataEnd" ref="multipleTable" border style="width: 100%;margin-top:5px;"
                  @selection-change="handleSelectionChange">
            <el-table-column label="手机号" :show-overflow-tooltip="true" width="120">
                <template slot-scope="scope">
                    <span style="color:#409EFF;cursor: pointer;"
                          @click="view_detail(scope.row,scope.$index)">{{ scope.row.mobile }}</span>
                </template>
            </el-table-column>
            <el-table-column label="教师姓名" width="100" :show-overflow-tooltip="true">
                <template slot-scope="scope">
                    <span>{{ scope.row.username }}</span>
                </template>
            </el-table-column>
            <!-- <el-table-column 
      label="性别"
      width="60">
      <template slot-scope="scope">
        <span v-if="scope.row.sex==='FEMALE'">女</span>
        <span v-if="scope.row.sex==='MALE'">男</span>
      </template>
      </el-table-column> -->
            <el-table-column label="学历" width="80">
                <template slot-scope="scope">
                    <span>{{ scope.row.eduName }}</span>
                </template>
            </el-table-column>
            <el-table-column label="专业" :show-overflow-tooltip="true">
                <template slot-scope="scope">
                    <span>{{ scope.row.professionalCoursesName }}</span>
                </template>
            </el-table-column>
            <!-- <el-table-column
        :show-overflow-tooltip="true"
          label="国家">
        <template slot-scope="scope">
            <span>{{ scope.row.countryName }}</span>
        </template>
        </el-table-column> -->
            <el-table-column :show-overflow-tooltip="true" label="学校">
                <template slot-scope="scope">
                    <span>{{ scope.row.universityName }}</span>
                </template>
            </el-table-column>
            <el-table-column label="初试人">
                <template slot-scope="scope">
                    <span>{{ scope.row.interviewUser.username }}</span>
                </template>
            </el-table-column>
            <el-table-column label="复试人">
                <template slot-scope="scope">
                    <span>{{ scope.row.reexamineInterviewUser.username }}</span>
                </template>
            </el-table-column>
            <el-table-column label="渠道方">
                <template slot-scope="scope">
                    <span>{{ scope.row.channelName }}</span>
                </template>
            </el-table-column>
            <el-table-column label="状态" width="100">
                <template slot-scope="scope">
                    <span v-if="scope.row.tudStatused===0">待推荐</span>
                    <span v-if="scope.row.tudStatused===1">待初试</span>
                    <span v-if="scope.row.tudStatused===2">待复试</span>
                    <span v-if="scope.row.tudStatused===3">初试被拒</span>
                    <span v-if="scope.row.tudStatused===4">待培训1</span>
                    <span v-if="scope.row.tudStatused===5">复试被拒</span>
                    <span v-if="scope.row.tudStatused===6">培训1合格</span>
                    <span v-if="scope.row.tudStatused===7">培训1淘汰</span>
                    <span v-if="scope.row.tudStatused===8">培训2合格</span>
                    <span v-if="scope.row.tudStatused===9">培训2淘汰</span>
                    <span v-if="scope.row.tudStatused===10">工作中</span>
                    <span v-if="scope.row.tudStatused===null">工作中</span>
                </template>
            </el-table-column>
            <el-table-column label="创建时间" :show-overflow-tooltip="true">
                <template slot-scope="scope">
                    <span>{{ scope.row.createAt }}</span>
                </template>
            </el-table-column>
            <el-table-column label="简历/成绩单">
                <template slot-scope="scope">
                    <span>
                        <el-button type="primary" size="mini" v-if="scope.row.report != ''" class="el-icon-download"
                                   @click="downfile1(scope.row,scope.$index)">下载简历</el-button>
                    </span>
                </template>
            </el-table-column>
            <el-table-column label="操作" width="100px">
                <template slot-scope="scope">
                    <el-button size="mini"
                               v-if="scope.row.tudStatused ===4&&hasPermission('sys:shiziqudao:fushitongguoliebiao:gongzuoguifan')"
                               @click="yes(scope.row,scope.$index)">工作规范</el-button>
                    <el-button size="mini"
                               v-if="scope.row.tudStatused ===6&&hasPermission('sys:shiziqudao:fushitongguoliebiao:fudaojiqiaopeixun')"
                               @click="updateTeacher(scope.row,scope.$index)">辅导技巧培训</el-button>
                    <!-- <el-button size="mini" @click='shenheshimingrenzheng(scope.row)'>审核实名认证
                    </el-button> -->
                </template>
            </el-table-column>
        </el-table>
        <el-pagination style="margin-top:15px" @size-change="handleSizeChange" @current-change="handleCurrentChange"
                       :current-page="currentPage"
                       :page-sizes="[15,20]" :page-size="limit" layout="total, sizes, prev, pager, next, jumper"
                       :total="total">
        </el-pagination>


        <el-dialog
                   title="审核"
                   :visible.sync="xianshishenfen"
                   :before-close='xianshishenfenClose'
                   width="50%"
                   top='2vh'>
            <div style="padding-left: 30px;">
                <p>
                    <span style="display: block">身份证正面：</span>
                    <img style="width: 300px;height:180px;" :src="xianshiInfo.idCardObverseUrl" alt=""
                         @click='lookImg(xianshiInfo.idCardObverseUrl)'>
                </p>
                <p>
                    <span style="display: block">身份证反面：</span>
                    <img style="width: 300px;height:180px;" :src="xianshiInfo.idCardReversedUrl" alt=""
                         @click='lookImg(xianshiInfo.idCardReversedUrl)'>
                </p>
                <p>
                    身份证号码：
                    <span>{{xianshiInfo.idCardNo}}</span>
                </p>
            </div>
            <span slot="footer" class="dialog-footer">
                <el-button @click="xianshishenfenSubmit(0)">不通过</el-button>
                <el-button type="primary" @click="xianshishenfenSubmit(1)">通过</el-button>
            </span>
        </el-dialog>


        <!-- 弹框 -->
        <el-dialog :visible.sync="resultmodal" width="50%">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="是否通过" prop="isCross">
                    <template>
                        <el-radio-group v-model="ruleForm.isCross">
                            <el-radio :label="true">通过</el-radio>
                            <el-radio :label="false">不通过</el-radio>
                        </el-radio-group>
                    </template>
                </el-form-item>
                <el-form-item label="选择级别" prop="rank">
                    <el-select v-model="ruleForm.rank" placeholder="请选择" style="width:310px;">
                        <el-option label="级别S" value="0"></el-option>
                        <el-option label="级别A" value="1"></el-option>
                        <el-option label="级别B" value="2"></el-option>
                        <el-option label="级别C" value="3"></el-option>
                    </el-select>
                </el-form-item>
                <el-form-item label="理由" prop="description">
                    <el-input type="textarea" v-model="ruleForm.description" :rows="3" placeholder="请输入">
                    </el-input>
                </el-form-item>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="submitForm1('ruleForm')" v-bind:loading="btnstatus">{{btnval}}
                </el-button>
            </span>
        </el-dialog>
        <!-- 弹框 -->
        <el-dialog :visible.sync="yesmodal" width="50%">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="是否通过" prop="isCross">
                    <template>
                        <el-radio-group v-model="ruleForm.isCross">
                            <el-radio :label="true">通过</el-radio>
                            <el-radio :label="false">不通过</el-radio>
                        </el-radio-group>
                    </template>
                </el-form-item>
                <el-form-item label="理由" prop="description">
                    <el-input type="textarea" v-model="ruleForm.description" :rows="3" placeholder="请输入">
                    </el-input>
                </el-form-item>
            </el-form>

            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="yes1('ruleForm')" v-bind:loading="btnstatus">{{btnval}}</el-button>
            </span>
        </el-dialog>
        <!-- 弹框 -->
        <el-dialog :visible.sync="modal" width="50%">
            <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm">
                <el-form-item label="选择师资" prop="toOperId">
                    <el-select v-model="ruleForm.toOperId">
                        <el-option v-for="item in toOperIds" :key="item.id" :label="item.username" :value="item.userId">
                        </el-option>
                    </el-select>
                </el-form-item>
                <template>
                    <div class="app-container">
                        <el-form-item label="开始时间" prop="viewStartTime">
                            <el-date-picker v-model="ruleForm.viewStartTime" type="date" value-format="yyyy-MM-dd"
                                            :picker-options="pciker1" placeholder="开始日期"
                                            @change="changeTime">
                            </el-date-picker>
                            <el-time-select placeholder="起始时间" v-model="startTime" :picker-options="{
                                start: '00:00',
                                step: '00:10',
                                end: '24:00'
                              }">
                            </el-time-select>
                        </el-form-item>
                        <el-form-item label="结束时间" prop="viewEndTime">
                            <el-date-picker v-model="ruleForm.viewEndTime" type="date" value-format="yyyy-MM-dd"
                                            :picker-options="pciker2" placeholder="结束日期">
                            </el-date-picker>
                            <el-time-select placeholder="结束时间" v-model="endTime" :picker-options="{
                                start: '00:00',
                                step: '00:10',
                                end: '24:00',
                                minTime: startTime
                              }">
                            </el-time-select>
                        </el-form-item>
                    </div>
                </template>
            </el-form>
            <span slot="footer" class="dialog-footer">
                <el-button type="primary" @click="updateForm('ruleForm')" v-bind:loading="btnstatus">{{btnval}}
                </el-button>
            </span>
        </el-dialog>

    </div>
</body>
<script src="js/jquery.js"></script>
<script type="text/javascript">
    document.write('<script src="../../js/base.js?tmp=' + new Date().getTime() +
        '" type="text/javascript" charset="utf-8"><\/script>');
</script>
<script src="js/vue.js"></script>
<script src="js/index.js"></script>
<script type="text/javascript">
    window.onload = function () {
        loadJsOrCss('pagejs/secondInterviewok.js');
    }
</script>

</html>