
<!DOCTYPE html>
<html lang="zh-cn">
<head>
<title>假期设置</title>

<meta charset="utf-8"/>
<meta name="renderer" content="webkit">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<!--[if lt IE 9]>
  <script src="/static/plugins/html5shiv.min.js"></script>
  <script src="/static/plugins/respond.min.js"></script>
<![endif]-->

<link href="./almanac/almanac.css" rel="stylesheet" type="text/css" />
<style>
  .red{
    background: red;
  }
  .green{
    border: 2px solid green !important;
  }
  .white{
    background: yellow; 
  }
  .blue{
    background: #409EFF;
  }
  .fl{
	text-align: center;float: left; color: #fff;width: 140px;cursor: pointer;
	height: 35px;line-height: 35px;border-radius: 4px;
  }
  .ss{
    background: rgb(64, 158, 255);
  }
  .s{
    background: red;
  }
  .fr{
    text-align: center;float: right;color: #fff;width: 140px;cursor: pointer;
    height: 35px;line-height: 35px;border-radius: 4px;
  }
  .right{
    display: none;
  }
</style>
</head>
<body>

<div class="master" id="id_container">
  
<!-- 假日方案 -->
<div class="zh-almanac" id="id_almanac" data-id="2">
  <div class="hint-bar clearfix">
    <span class="title-bar" id="GZ">
    </span>
    <div class="control-bar">
      <div class="control-module year-control">
        <a class="prev" id="nianjian" action="prev" href="javascript:;"></a>
        <div class="control"><i class="trigger"></i>
          <div val="2015" class="field year">2015年</div>
        </div>
        <a class="next" id="nianjia" action="next" href="javascript:;"></a>
        <ul class="list year-list hidden">
        </ul>
      </div>
      <div class="control-module month-control">
        <a class="prev" id="yuejian" action="prev" href="javascript:;"></a>
        <div class="control"><i class="trigger"></i>
          <div val="7" class="field month">7月</div>
        </div>
        <a class="next" id="yuejia"  action="next" href="javascript:;"></a>
        <ul class="list month-list hidden">
        </ul>
      </div>
      <div class="btn-today">返回今天</div>
    </div>
  </div>
  <div class="alc-container" style="width:561px;">
    <div class="left">
      <ul class="dates-hd clearfix">
        <li data-id="6" class="days-title last ">日</li>
        <li data-id="0" class="days-title ">一</li>
        <li data-id="1" class="days-title ">二</li>
        <li data-id="2" class="days-title ">三</li>
        <li data-id="3" class="days-title ">四</li>
        <li data-id="4" class="days-title ">五</li>
        <li data-id="5" class="days-title ">六</li>
      </ul>
      <ol class="dates-bd clearfix">
      </ol>

    </div>
    <div class="right">
      <div class="almanac-tips">
        <div class="dates-bar">
          <span class="date"></span><span class="weekday"></span>
        </div>
        <div class="date-show-panel"></div>
        <div class="desc">
          <div class="lunar"></div>
          <div class="lunar-ganzhi"></div>
            <div class="lunar-term"></div>
          </div>
        </div>
        <div class="almanac-extra clearfix">
          <div class="suited">
            <h3 class="st-label">宜</h3>
            <ul class="st-items clearfix" title="">
            </ul>
          </div>
          <div class="tapu">
            <h3 class="st-label">忌</h3>
            <ul class="st-items clearfix" title="">
            </ul>
          </div>
          <div class="ban hidden">
            <ul class="st-items clearfix" title="">
            </ul>
          </div>
        </div>
    </div>
  </div>
</div>
<!-- //假日方案 -->

<!-- Site footer -->
<footer>
    <ul style="width:760px;margin:10px auto;">
      <li class="fl ss" id="time1">设置为工作时间</li>
      <li class="fl s" id="time2">设置为假期时间</li>
      <!-- <li class="fl ss" id="time3">更新为周末时间</li>
      <li class="fl s" id="time4">更新为假期时间</li> -->
    </ul>
</footer>
  <!-- //Site footer -->
</div>



<!-- 测试系统 -->
<script src="js/jquery.js"></script>

<script src="./almanac/almanac.js"></script>
<script type="text/javascript">
    document.write('<script src="../../js/base.js?tmp=' + new Date().getTime() + '" type="text/javascript" charset="utf-8"><\/script>');
</script>
<script type="text/javascript">
    window.onload = function () {
        loadJsOrCss('pagejs/vacationTime.js');
    }

</script>
</body>
</html>
