<!DOCTYPE html>
<html>

<head>
    <title>销售业绩</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
    <link rel="stylesheet" href="../../../plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../../../css/main.css">
    <link rel="stylesheet" href="../../../plugins/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.css">

    <script src="../../../libs/jquery.min.js"></script>
    <script src="../../../plugins/layer/layer.js"></script>
    <script src="../../../libs/bootstrap.min.js"></script>
    <script src="../../../libs/vue.min.js"></script>
    <script src="../../../plugins/jqgrid/grid.locale-cn.js"></script>
    <script src="../../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
    <script src="../../../plugins/ztree/jquery.ztree.all.min.js"></script>
    <script src="../../../js/common.js"></script>
    <script src="../../../js/base.js"></script>
    <script src="../../../plugins/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.js"></script>
    <script type="text/javascript">
        window.onload = function () {
            loadJsOrCss('salesPerformance.js');
        }
    </script>

</head>

<body>
    <div id="rrapp" v-cloak>
        <div v-show="showList">
            <div class="grid-btn" style="display: flex;">
                <div class="col-sm-4">
                    <input type="text" class="form-control" @change="query" v-model="q.key" @keyup.enter="query"
                           placeholder="请输入订单号、课程名称、销售名称、学生名称、课堂名称...">
                </div>
                <a class="btn btn-primary" @click="query"><i class="glyphicon glyphicon-search"></i>&nbsp;查询</a>
                <label style="margin-top: 5px">业绩类型：</label>
                <div style="width: 120px;">
                    <select class="form-control" @change="query" id="perType" v-model="q.perType">
                        <option></option>
                        <option value="1">销售业绩</option>
                        <option value="2">消耗业绩</option>
                    </select>
                </div>
                <div class="col-sm-4" style="display: flex;">
                    <input class="form-control mydatetime" id="timeFrom">
                    <label style="margin-top: 5px">&nbsp;&nbsp;-&nbsp;&nbsp;</label>
                    <input class="form-control mydatetime" id="timeTo">
                </div>
            </div>
            <table id="jqGrid"></table>
            <div id="jqGridPager"></div>
        </div>
    </div>
    <script>
        $(function () {
            $("#jqGrid").jqGrid({
                url: baseURL + 'sys/seller/order/myPerformanceList',
                datatype: "json",
                colModel: [
                    /*{label: 'ID', name: 'id', index: "id", width: 45, key: true},*/
                    {
                        label: '订单号',
                        name: 'orderNo',
                        width: 90,
                        formatter: function (value, potions, row) {
                            return "<a onclick='openDetail(" + row.courseId + ")'>" + value +
                                "</a>";
                        }
                    },
                    // {label: '课程名称', name: 'offCourseName', width: 90},
                    // {label: '销售名称', name: 'sellerName', width: 90},
                    {
                        label: '学生名称',
                        name: 'studName',
                        width: 90
                    },
                    {
                        label: '课堂名称',
                        name: 'classroomName',
                        width: 90
                    },
                    {
                        label: '来源',
                        name: 'fromSource',
                        width: 60,
                        formatter: function (value, options, row) {
                            switch (value) {
                                case 1:
                                    return "销售预付";
                                case 2:
                                    return "学生预付";
                                case 4:
                                    return "学生追付";
                                case 8:
                                    return "课程消耗";
                                case 16:
                                    return "课堂消耗";
                                case 32:
                                    return "赠送时长";
                                case 64:
                                    return "课程退款";
                            }
                        }
                    },
                    {
                        label: '金额',
                        name: 'money',
                        width: 60
                    },
                    {
                        label: '币种',
                        name: 'current',
                        width: 30
                    },
                    {
                        label: '业绩类型',
                        name: 'perType',
                        width: 60,
                        formatter: function (value, options, row) {
                            switch (value) {
                                case 1:
                                    return "销售业绩";
                                case 2:
                                    return "消耗业绩";
                            }
                        }
                    },
                    {
                        label: '产生时间',
                        name: 'createAt',
                        width: 110
                    }
                ],
                viewrecords: true,
                height: 385,
                rowNum: 10,
                rowList: [10, 30, 50],
                rownumbers: true,
                rownumWidth: 25,
                autowidth: true,
                multiselect: true,
                pager: "#jqGridPager",
                jsonReader: {
                    root: "body.list",
                    page: "body.currPage",
                    total: "body.totalPage",
                    records: "body.totalCount"
                },
                prmNames: {
                    page: "page",
                    rows: "limit",
                    order: "order"
                },
                gridComplete: function () {
                    //隐藏grid底部滚动条
                    $("#jqGrid").closest(".ui-jqgrid-bdiv").css({
                        "overflow-x": "hidden"
                    });
                    //$("#jqGrid td").tooltip();
                }
            });
            initTime();
            $("#timeFrom").on("change", function () {
                vm.q.timeFrom = $("#timeFrom").val();
                if (vm.q.timeFrom != null && vm.q.timeFrom != '') {
                    vm.q.timeFrom += " 00:00:00";
                }
                vm.query();
                $("#timeFrom").datetimepicker("hide");
            });
            $("#timeTo").on("change", function () {
                vm.q.timeTo = $("#timeTo").val();
                if (vm.q.timeTo != null && vm.q.timeTo != '') {
                    vm.q.timeTo += " 23:59:59";
                }
                vm.query();
                $("#timeTo").datetimepicker("hide");
            });
        });

        function openDetail(courseId) {
            // window.open( "../seller_detail.html?id=" + courseId);
            window.open("../seller_detail.html?id=" + courseId);
        }
        var vm = new Vue({
            el: '#rrapp',
            data: {
                q: {
                    key: null,
                    timeFrom: null,
                    timeTo: null,
                    perType: null
                },
                showList: true,
                title: null,
            },
            methods: {
                query: function () {
                    vm.reloadOnPageOne();
                },
                reload: function () {
                    vm.showList = true;
                    var page = $("#jqGrid").jqGrid('getGridParam', 'page');
                    $("#jqGrid").jqGrid('setGridParam', {
                        postData: {
                            'key': vm.q.key,
                            'perType': vm.q.perType,
                            'timeFrom': vm.q.timeFrom,
                            'timeTo': vm.q.timeTo
                        },
                        page: page
                    }).trigger("reloadGrid");
                },
                reloadOnPageOne: function () {
                    vm.showList = true;
                    $("#jqGrid").jqGrid('setGridParam', {
                        postData: {
                            'key': vm.q.key,
                            'perType': vm.q.perType,
                            'timeFrom': vm.q.timeFrom,
                            'timeTo': vm.q.timeTo
                        },
                        page: 1
                    }).trigger("reloadGrid");
                },
            }
        });

        function initTime() {
            $(".mydatetime").datetimepicker({
                //format: 'yyyy-mm-dd hh:ii:ss',
                format: 'yyyy-mm-dd',
                autoclose: true,
                todayHighlight: true,
                language: 'zh-CN',
                todayBtn: true,
                minView: "month"
            });
        }
    </script>
    <!-- <script src="salesPerformance.js"></script> -->

</body>

</html>